@model IEnumerable<YarnOver.Models.HookListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LetterSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LetterSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
